@page "/"
@inject DataService DataService

<h3>Data Display</h3>

<!-- Display logic remains the same, using DataService for data retrieval -->
<div>
    <h4>1. Retrieve Information from the Database</h4>
    <p>a. Names and Room Numbers for Classes with More than 100 Students:</p>
    <ul>
        @foreach (var result in DataService.GetClassesWithMoreThan100Students())
        {
            <li>@result.Name - Room: @result.RoomNumber</li>
        }
    </ul>

    <p>b. IDs and Majors of Students Who Take No Classes with Teachers in Department 22:</p>
    <ul>
        @foreach (var result in DataService.GetStudentsWithNoClassesInDepartment22())
        {
            <li>ID: @result.Sid - Major: @result.Major</li>
        }
    </ul>
</div>

<div>
    <h4>2. Additional LINQ Challenges</h4>
    <p>a. Names of Students Enrolled in Classes and Have Not Yet Received Any Marks:</p>
    <ul>
        @foreach (var result in DataService.GetStudentsWithNoMarks())
        {
            <li>@result.Sname</li>
        }
    </ul>

    <p>b. Average Age of Students in Each Major:</p>
    <ul>
        @foreach (var result in DataService.GetAverageAgeByMajor())
        {
            <li>Major: @result.Major - Average Age: @result.AverageAge</li>
        }
    </ul>
</div>
